[project]
	description = ?C Library????????????????
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Zhang Sen (SenZhangAI)
[access "refs/for/refs/*"]
	read = group user/Zhang Sen (SenZhangAI)
	push = group user/Zhang Sen (SenZhangAI)
	label-Code-Review = -2..+2 group user/Zhang Sen (SenZhangAI)
	label-Verified = -1..+1 group user/Zhang Sen (SenZhangAI)
	rebase = group user/Zhang Sen (SenZhangAI)
	removeReviewer = group user/Zhang Sen (SenZhangAI)
	submit = group user/Zhang Sen (SenZhangAI)
[access "refs/heads/*"]
	read = group user/Zhang Sen (SenZhangAI)
	create = group user/Zhang Sen (SenZhangAI)
	push = +force group user/Zhang Sen (SenZhangAI)
	pushMerge = group user/Zhang Sen (SenZhangAI)
[access "refs/tags/*"]
	push = group user/Zhang Sen (SenZhangAI)
	push = +force group user/Zhang Sen (SenZhangAI)
